* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('assets/bg.PNG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(58, 38, 28, 0.88);
    z-index: -1;
}


.navbar {
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 70px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

nav a:hover {
    opacity: 0.8;
}


.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 9px 10px;
    border: 2px solid white;
    background-color: rgba(58, 38, 28, 0.88);
    color: white;
    text-align: center;
}

.search-box input::placeholder {
    color: white;
    opacity: 1;
}

.search-btn {
    padding: 6px 12px;
    background: rgba(58, 38, 28, 0.88);
    border: none;
    margin-right: 6px;
    cursor: pointer;
}

.hero {
    width: 100%;
    padding: 150px 40px 60px;
}

.hero-title {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 45px;
}


.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
}

.image-frame {
    width: 55%;
    padding: 15px;
    border: 3px solid #fff;
}

.image-frame img {
    width: 100%;
    height: auto;      
    display: block;
}


.content-box {
    width: 40%;
}

.small-img-box img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    margin-top: -80px; 
}


.content-box h2 {
    margin: 10px 0;
    font-size: 22px;
}

.content-box hr {
    border: none;
    height: 1px;
    background: #fff;
    margin-bottom: 15px;
}

.content-box p {
    margin-bottom: 15px;
    line-height: 1.5rem;
    color: #ddd;
}


.learn-btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(243, 227, 230);
    color: #4c352d;
    text-decoration: none;
    margin-top: 10px;
}


@media (max-width: 1200px) {
    .hero-title {
        font-size: 48px;
    }

    nav ul {
        gap: 40px;
    }
}


@media (max-width: 992px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-frame {
        width: 90%;
    }

    .content-box {
        width: 90%;
    }

    .small-img-box img {
        margin-top: 20px;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding: 15px 20px;
    }

    nav ul {
        display: none; 
    }

    .search-box input {
        display: none; 
    }

    .hero-title {
        font-size: 42px;
    }

    .image-frame {
        width: 100%;
    }

    .content-box {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .hero {
        padding: 120px 20px;
    }

    .hero-title {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .image-frame {
        padding: 10px;
        border-width: 2px;
    }

    .learn-btn {
        padding: 10px 22px;
    }
}


.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 80px 5%;
}

.about-left img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    object-fit: cover;
}

.about-right {
    flex: 1;
}

.about-heading-top {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px; 
}

.about-main-heading {
    font-size: 36px;
    font-weight: 700;
    color: #111;
    margin-bottom: 12px; 
}

.about-text {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    max-width: 550px;
}

h3{
    margin-bottom: 60px;
    font-weight: normal;
}


@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-left img {
        max-width: 100%;
    }
}

